﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<IPublishedContent>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Layout.cshtml";
    var content = Model.Content;
}

@Styles.Render("~/css/main.css")

<div class="about">
    <div class="row">
        <div class="col-sm-12">
            <p>@Umbraco.Field("pageContent")</p>
        </div>
    </div>
</div>