﻿@using System.Threading
@using System.Web.Optimization
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<IPublishedContent>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Layout.cshtml";
    //var content = Model.Content;

    bool formSent = ViewBag.FormSent != null;
    int formSuccess = -1;
    if (formSent)
    {
        formSuccess = ViewBag.FormSent;
    }
}

@Styles.Render("~/css/main.css")

<div class="form-container">
    <div class="row">
        <div class="col-sm-6">
            @Html.AntiForgeryToken()
            @if (!formSent)
            {
                <form method="post" id="contactform" class="form">
                    @Html.ValidationSummary()
                    <div class="form-group">
                        <label for="firstname">@Umbraco.GetDictionaryValue("fdFirstname")*</label>
                        <input type="text" class="form-control" id="firstname" required>
                        <p></p>
                    </div>
                    <div class="form-group">
                        <label for="lastname">@Umbraco.GetDictionaryValue("fdLastname")*</label>
                        <input type="text" class="form-control" id="lastname" required>
                        <p></p>
                    </div>
                    <div class="form-group">
                        <label for="theme">@Umbraco.GetDictionaryValue("fdTheme")</label>
                        <select class="form-control" id="theme" required>
                            <option></option>
                            <option>Personal</option>
                            <option>Company</option>
                        </select>
                        <p></p>
                    </div>
                    <div class="form-group">
                        <label for="email">@Umbraco.GetDictionaryValue("fdEmail")*</label>
                        <input type="email" class="form-control" id="email" required>
                        <p></p>
                    </div>
                    <div class="form-group">
                        <label for="message">@Umbraco.GetDictionaryValue("fdMessage")</label>
                        <textarea class="form-control" rows="5" id="message" required></textarea>
                        <p></p>
                    </div>
                    <div class="form-group form-check">
                        <label for="accept" class="form-check-label">@Html.Raw(Umbraco.GetDictionaryValue("fdContactMe"))</label>
                        <input class="form-check-input" type="checkbox" name="remember" required> I agree with privacy policy.
                        <p></p>
                    </div>
                    <button type="submit" class="btn btn-primary">@Umbraco.GetDictionaryValue("fdSend")</button>
                </form>
            }
            else
            {
                <div class="col-sm-6">

                    @if (formSuccess == 1)
                    {
                        <p id="successtext">@Umbraco.Field("successText")</p>
                    }
                    else
                    {
                        <p id="errortext">@Umbraco.Field("errorText")</p>
                    }
                </div>
            }
        </div>
    </div>
</div>


