﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Extensions
@using Archetype.Models;

@{
    Layout = "Layout.cshtml";
    var fieldsets = Model.Content.GetPropertyValue<ArchetypeModel>("modules");
    var content = Model.Content;

}

@Html.RenderArchetypePartials(fieldsets);

<div class="contentgrid-container">
    <div class="row">
        <div class="col-sm-12">
            <p id="contentgrid">@CurrentPage.GetGridHtml("contentGrid")</p><br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p id="contentgrid2">@CurrentPage.GetGridHtml("contentGrid2")</p>
        </div>
    </div>
</div>