﻿@using System.Configuration
@using System.Web.Optimization
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models


<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, charset=utf-8" />
    <title>@Umbraco.Field("pageName")</title>
    @Styles.Render("~/css/main.css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body>
    @{Html.RenderPartial("~/Views/Partials/HeaderContent.cshtml");}

    @{Html.RenderPartial("~/Views/Partials/Navigation.cshtml");}

    @RenderBody()

    @{Html.RenderPartial("~/Views/Partials/Footer.cshtml");}

    @{Html.RenderPartial("~/Views/Partials/SocialMedia.cshtml");}

</body>
</html>