﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<IPublishedContent>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Layout.cshtml";
}

@Styles.Render("~/css/main.css")

<div class="links">
    <div class="row">
        <div class="col-sm-4">
            <h5 class="linkTitle-1">Links</h5>
            <ul class="list-unstyled">
                <li><a class="linkpage-links" href="#!">Link 1</a></li>
                <li><a class="linkpage-links" href="#!">Link 2</a></li>
                <li><a class="linkpage-links" href="#!">Link 3</a></li>
                <li><a class="linkpage-links" href="#!">Link 4</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h5 class="linkTitle-2">Links</h5>
            <ul class="list-unstyled">
                <li><a class="linkpage-links" href="#!">Link 1</a></li>
                <li><a class="linkpage-links" href="#!">Link 2</a></li>
                <li><a class="linkpage-links" href="#!">Link 3</a></li>
                <li><a class="linkpage-links" href="#!">Link 4</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h5 class="linkTitle-2">Links</h5>
            <ul class="list-unstyled">
                <li><a class="linkpage-links" href="#!">Link 1</a></li>
                <li><a class="linkpage-links" href="#!">Link 2</a></li>
                <li><a class="linkpage-links" href="#!">Link 3</a></li>
                <li><a class="linkpage-links" href="#!">Link 4</a></li>
            </ul>
        </div>
    </div>
</div>