﻿.links {
    margin-top: 80px;
    margin-left: 20px;

    .linkTitle-2 {
        margin-top: 50px;
        display: inline;

        .linkpage-links {
            color: #6E6E6E;
            display: inline;
        }
    }
}
