﻿.nav-container {
    margin: 20px;
    border: 1px solid #cdcdcd;
}

.nav-link {
    padding: 10px 10px;
    color: #6E6E6E;
    border-left: 1px solid #cdcdcd;
    font-size: 16px;
    line-height: 16px;
    padding: 5px 18px;
    position: relative;
}