﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="header-image-container">
    <div class="row">
        <div class="col-sm-12">
            <img src="@(Model.Content.GetPropertyValue<IPublishedContent>("headerImage").Url)" class="headerimage" alt="headerImage" />
        </div>
    </div>      
</div>
<div class="header-container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="headline">@Model.Content.GetPropertyValue("headline")</h3>
            <h5 class="subheadline">@Umbraco.Field("subHeadline")</h5>
        </div>
    </div>
</div>