﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


<div class="nav-container">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-sm bg-light navbar-light" role="navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/homepage/" target="_blank">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-page/" target="_blank">Contact page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/" target="_blank">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/links/" target="_blank">Links</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


