﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="social-container">
    <div class="row">
        <ul id="social-links" class="list-social">
            <li class="list-inline-item">
              <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/" target="_blank">
                <i class="fab fa-facebook-f"> </i>
              </a>               
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-tw mx-1" href="https://www.twitter.com/" target="_blank">
                <i class="fab fa-twitter"> </i>
              </a>
            <li class="list-inline-item">
              <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/" target="_blank">
                <i class="fab fa-linkedin-in"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-instagram mx-1" href="https://www.instagram.com/" target="_blank">
                <i class="fab fa-instagram"> </i>
              </a>
            </li>
          </ul>
    </div>
  </div>