﻿@using System.Collections
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Archetype.Models.ArchetypeFieldsetModel>

@{ 
    var images = Model.GetValue<IEnumerable<IPublishedContent>>("images");
}

<h3 class="images-headline">@Model.GetValue("headline")</h3>

<div class="">
    @foreach (var image in images)
    {
        var imageUrl = image.GetCropUrl();

        <img class="images" src="@imageUrl" />
    }
</div>
