﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Archetype.Models.ArchetypeFieldsetModel>

<h3 class="richText-headline">@Model.GetValue("headline")</h3>
<div class="text">@Html.Raw(Model.GetValue("text"))</div>